* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
}

body {
  margin: 0;
}

.primary__btn {
  font-family: Poppins;
  margin: 60px 0;
  background: #2CBCA2;
  border-radius: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
  padding: 20px 70px;
  border: none;
}

.primary__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #6F8B9B;
}

.header {
  background-color: #013C51;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 87%, 80% 88%, 50% 100%, 21% 89%, 0 87%, 0% 35%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 87%, 80% 88%, 50% 100%, 21% 89%, 0 87%, 0% 35%, 0 0);
}

.navbar ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}

.navbar ul li a:hover {
  color: #2CBCA2;
}

.header__body {
  padding: 70px 0;
  text-align: center;
  width: 50%;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
}

.header__body h1 {
  width: 100%;
  font-size: 144px;
  color: #fff;
  font-family: League Script;
}

.header__body p {
  width: 90%;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 300;
  color: #fff;
  line-height: 1.1;
}

.header__body .btn {
  font-family: Poppins;
  margin: 60px 0;
  background: #2CBCA2;
  border-radius: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
  padding: 20px 70px;
}

.header__body .btn__link {
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  padding: 10px;
}

.services {
  margin: 150px 0;
}

.services .container .row .col-lg-4 a {
  font-family: Poppins;
  text-decoration: none;
  color: #2CBCA2;
  font-size: 12px;
  line-height: 18px;
}

.services .container .row .col-lg-4 h2 {
  color: #012B43;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}

.services .container .row .col-lg-4 p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.services .container .row .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services .container .row .icons .row .col-lg-5 .img {
  width: 50%;
  text-align: center;
  background-color: #E5F4F2;
  border-radius: 50%;
  padding: 20px;
}

.services .container .row .icons .row .col-lg-5 h2 {
  width: 60%;
}

.services .container .row .icons .row .col-lg-5 p {
  width: 60%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E5F4F2;
  padding: 50px 0;
  z-index: -23;
}

.about .serculs {
  motion: 0;
  position: relative;
}

.about .serculs .sercul {
  background-color: #013C51;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
}

.about .serculs .sercul img {
  padding: 25px;
}

.about .serculs .circil {
  position: absolute;
  border: 1px solid #2CBCA2;
  top: -10px;
  width: 100px;
  right: 391px;
  height: 100px;
  border-radius: 50%;
  z-index: -22;
}

.about .about__text {
  margin: 0 auto;
}

.about .about__text a {
  width: 30%;
  text-decoration: none;
  color: #2CBCA2;
  padding: 10px 0;
}

.about .about__text h2 {
  width: 80%;
  color: #012B43;
  margin: 0;
}

.about .about__text p {
  width: 90%;
  margin: 40px 0;
}

.gallery {
  padding: 50px 0;
  margin: 0;
}

.gallery .text a {
  text-decoration: none;
  color: #2CBCA2;
}

.gallery .text h2 {
  width: 80%;
  margin: 0;
}

.gallery .text p {
  width: 80%;
  margin: 0;
  padding: 30px 0;
}

.gallery .boxs .box {
  background-color: #013C51;
  width: 45%;
  height: 100%;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .boxs .box img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

.video {
  background: #E5F4F2;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 350px;
}

.video .video__box {
  width: 90%;
  background-color: #013C51;
  height: 460px;
  border: 4px solid rgba(255, 255, 255, 0.87);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.video .video__box .line {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video .video__box .line .cercul {
  background-color: #346374;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.video .video__box .line .cercul .play {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video .video__box .line .cercul .play img {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video .video__text a {
  color: #2CBCA2;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.video .video__text h2 {
  margin: 0;
  width: 85%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
}

.video .video__text p {
  margin: 40px 0;
}

.skills {
  padding-bottom: 100px;
}

.skills .skills__box {
  background-color: #3AC3AB;
  border-radius: 16px;
  height: 277px;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.skills .skills__box .col-lg-4 {
  text-align: center;
  margin-top: 80px;
}

.skills .skills__box .col-lg-4 a {
  color: #012B43;
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.skills .skills__box .col-lg-4 h1 {
  color: #fff;
  font-weight: 700;
  font-size: 70px;
}

.skills .skills__text .text a {
  text-decoration: none;
  color: #2CBCA2;
}

.skills .skills__text .text h2 {
  width: 80%;
  margin: 0;
  color: #012B43;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

.skills .skills__text .text p {
  margin: 30px 0;
  width: 80%;
}

.skills .skills__text .col-lg-8 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skills__text .col-lg-8 .row .col-lg-10 h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #012B43;
}

.skills .skills__text .col-lg-8 .row .col-lg-10 .bcolor {
  background-color: #E5F4F2;
  border-radius: 100px;
  width: 100%;
  height: 30px;
  text-align: left;
}

.skills .skills__text .col-lg-8 .row .col-lg-10 .bcolor .foyiz1, .skills .skills__text .col-lg-8 .row .col-lg-10 .bcolor .foyiz2, .skills .skills__text .col-lg-8 .row .col-lg-10 .bcolor .foyiz3, .skills .skills__text .col-lg-8 .row .col-lg-10 .bcolor .foyiz4, .skills .skills__text .col-lg-8 .row .col-lg-10 .bcolor .foyiz5 {
  background-color: #013C51;
  width: 75%;
  height: 100%;
  margin: 0;
  border-radius: 100px;
}

.skills .skills__text .col-lg-8 .row .col-lg-10 .bcolor .foyiz2 {
  width: 45%;
}

.skills .skills__text .col-lg-8 .row .col-lg-10 .bcolor .foyiz3 {
  width: 90%;
}

.skills .skills__text .col-lg-8 .row .col-lg-10 .bcolor .foyiz4 {
  width: 65%;
}

.skills .skills__text .col-lg-8 .row .col-lg-10 .bcolor .foyiz5 {
  width: 85%;
}

.skills .skills__text .col-lg-8 .row span {
  color: #2CBCA2;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.news {
  background-color: #E5F4F2;
  padding: 161px;
}

.news .news__box {
  width: 670px;
  height: 460px;
  left: 375px;
  top: 6262px;
  background: #013C51;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .news__box .photo img {
  height: 50px;
}

.news a {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.35em;
  text-decoration: none;
  color: #2CBCA2;
}

.news h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #012B43;
}

.news p {
  margin: 30px 0;
}

.contact {
  background-color: #E5F4F2;
}

.contact .backcolor {
  background-color: #013C51;
  -webkit-clip-path: polygon(50% 34%, 72% 53%, 100% 42%, 100% 100%, 0 99%, 0 46%, 29% 53%);
          clip-path: polygon(50% 34%, 72% 53%, 100% 42%, 100% 100%, 0 99%, 0 46%, 29% 53%);
}

.contact .backcolor .logo__box {
  width: 50px;
  height: 60px;
  background-color: #000;
  z-index: 22;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
}

.contact .backcolor .logo__box .logo {
  background-color: #000;
}
/*# sourceMappingURL=main.css.map */